@model BeFit.Models.ExerciseSession

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExerciseSession</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exercise.DateTimeBeginning) - @Html.DisplayFor(model => model.Exercise.DateTimeEnding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Series)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Series)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Repetitions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Repetitions)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
